* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0f172a;
    color: #f1f5f9;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: rgba(15, 23, 42, 0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-weight: bold;
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #f1f5f9;
    transition: 0.3s;
    padding-bottom: 3px;
}

nav a.active {
    color: #38bdf8;
    border-bottom: 2px solid #38bdf8;
}

.section {
    padding: 120px 10%;
    text-align: center;
}

.hero {
    height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("images/bg.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 25px;
    color: #cbd5e1;
}

.btn {
    background: #38bdf8;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: #0f172a;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #0ea5e9;
}

.dark {
    background: #1e293b;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background: #38bdf8;
    color: #0f172a;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
    width: 260px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    background: #334155;
}

.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

footer {
    background: #020617;
    padding: 20px;
    text-align: center;
    color: #64748b;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 10px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .section {
        padding: 80px 5%;
    }
}
